certifi==2022.9.24
charset-normalizer==2.1.1
docopt==0.6.2
idna==3.4
pipreqs==0.4.11
requests==2.28.1
urllib3==1.26.13
yarg==0.1.9

numpy==1.21.5
pickle-mixin==1.0.2
streamlit==1.15.2
streamlit-option-menu==0.3.2
scikit-learn==1.0.2
protobuf==3.20.3
joblib==1.0.1